<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/CSS/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <form action="/login" method="post">
        <h1>Login</h1>

        <div class="input-box">
          <input 
            id="username" 
            type="text" 
            placeholder="Username" 
            value="{{username}}" 
            required 
          />
          <i class="bx bx-user"></i>
          <img src="/images/pass.png" alt="user-icon" class="icon" />
        </div>

        <div class="input-box">
          <input 
            id="password" 
            type="password" 
            placeholder="Password" 
            required 
          />
          <i class="bx bx-lock-alt"></i>
          <img 
            src="/images/hidden.png" 
            alt="lock-icon" 
            class="icon" 
            id="togglePassword" 
          />
        </div>

        <div class="remember">
          <label>
            <input type="checkbox" /> Remember Me
          </label>
          <a href="#">Forgot Password?</a>
        </div>

        <button id="checkButton" type="Submit" class="button">Login</button>
        <p id="result">{{result}}</p>
        
        <div class="regester">
          <p>
            Don't have an Account? 
            <a href="/signup">Register</a>
          </p>
        </div>
      </form>
    </div>
    <script src="/Js/login.js"></script>
  </body>
</html>
